.Main {
  height: 100%;
}

.Main > * {
  width: 90%;
  margin: 0 auto;
}

.Main__Heading {
  color: var(--clr-blue-dark, cornflowerblue);
  margin-block: 1.5rem;
}

.Main__List {
  list-style-type: armenian;
  margin-block: 1rem;
}

.Main__List li::marker {
  content: '⬥ ';
  margin-right: 1rem;
  color: var(--clr-orange-light, coral);
}

.Main p {
  margin-block: 1rem;
}

.Main em {
  color: var(--clr-orange-light, coral);
  font-style: normal;
}

.Main p > em {
  color: var(--clr-orange-dark, coral);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .Main {
    order: 1;
    height: auto;
    padding-bottom: 0.5rem;
  }

  .Main > * {
    width: 95%;
  }
}
