.Header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  min-height: 15rem;
  padding-bottom: 2rem;
  background-color: var(--clr-blue-dark);
}

.Header > * {
  width: 50%;
}

Header * {
  text-transform: uppercase;
}

.Header__NavBar {
  align-items: flex-end;
  height: 35%;
  padding: 0;
  background-color: var(--clr-blue-dark);
}

.Header__NavBrand {
  display: none;
}

.Header__Nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Header__Nav * {
  color: #fff !important;
}

.Header__Nav *:hover {
  color: var(--clr-orange-light) !important;
}

.Header__Nav *:focus {
  color: var(--clr-orange-dark) !important;
}

.Header__DropdownMenu {
  background-color: var(--clr-blue-dark);
}

.Header__DropdownItem:hover {
  color: #000;
  background-color: var(--clr-orange-light);
}

.Header__Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65%;
  font-weight: bold;
  background-color: var(--clr-neutral);
}

.Header__Text p {
  color: var(--clr-orange-dark);
}

.Header__ImageContainer {
  display: flex;
  height: 100%;
  padding-top: 2rem;
  background-color: var(--clr-orange-light);
}

.Header__Image {
  width: 33.3333%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .Header {
    min-height: auto;
    height: min-content;
    padding-bottom: 0.4rem;
  }

  .Header > * {
    width: 100%;
    height: auto;
  }

  .Header__NavBar {
    padding-block: 0.5rem;
  }

  .Header__NavBrand {
    display: block;
    margin-left: 0.5rem;
    text-transform: uppercase;
  }

  .Header__NavToggler {
    margin-left: auto;
    margin-right: 0.5rem;
  }

  .Header__Nav li {
    margin-inline: auto;
  }

  .Header__Text {
    padding-top: 1rem;
  }

  .Header__ImageContainer {
    display: none;
  }
}
