.Sidebar {
  height: 100%;
  background-color: var(--clr-orange-light);
}

.Sidebar > * {
  margin: 0 auto;
  width: 95%;
}

.Sidebar__Heading {
  margin-block: 1.5rem;
  color: #fff;
}

.Sidebar__List {
  margin-top: 1rem;
  list-style-type: square;
}

.Sidebar__List li::marker {
  color: var(--clr-blue-dark);
}

@media screen and (max-width: 768px) {
  .Sidebar {
    order: 2;
    height: auto;
    padding-bottom: 1rem;
  }
}
