:root {
  --clr-blue-dark: #003f5a;
  --clr-blue-light: #007a7a;
  --clr-neutral: #ebd9c8;
  --clr-orange-dark: #de6600;
  --clr-orange-light: #fea02f;

  --bp-xs: 0;
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --bp-xxl: 1400px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App__Container,
.App__ContainerRow {
  height: 100%;
  min-height: 22rem;
}

@media screen and (max-width: 768px) {
  .App__Container,
  .App__ContainerRow {
    height: auto;
    min-height: auto;
  }
}
